





<div class="row"> 
  <div class="col">
    <input #termino type="text" (keyUp)="buscar(termino.value)" class="form-control" placeholder="Buscar Artista =)">
  </div>
</div>

<!-- <div class="card-columns m-5">
<div *ngFor="let artista of artistas" class="card-columns">
    <div class="card">
      <img class="card-img-top" [src]="artista.images | noimage"  alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artista.name | uppercase}} </h5>
      </div>
    </div>
</div> -->


<app-loading class="m-5" *ngIf="loading"></app-loading>

<app-tarjetas  *ngIf="!loading"[items]="artistas"></app-tarjetas>